.container {
    padding: 0 15px;
    margin-left: auto; 
    margin-right: auto;


}

@media screen and (min-width: 320px) {
    .container {
        width: 428px;
    }
}

    @media screen and (min-width: 768px) {
        .container {
            width: 768px;
        }
    }

        @media screen and (min-width: 1140px) {
            .container {
                width: 1140px;
            }
        }

    /*---------HERO Section 1---------*/

    @media screen and (min-width: 320px) {
        .hero {
        width: 428px;
        background-image: linear-gradient( rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/backround-hero.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 112px;
        padding-bottom: 112px;
}
}

@media screen and (min-width: 768px) {

         .hero {
        width: 768px;
        background-image: linear-gradient( rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/backround-hero.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 112px;
        padding-bottom: 108px;
         }
}



@media screen and (min-width: 320px) {
    .hero-text {
    font-weight: 700;
    font-size: 36px;
    line-height:1.11;
    color: #FFFFFF;
    max-width: 318px;
    margin-left: auto;
    margin-right: auto;
    }
    .capitallize-hero {

        text-transform: capitalize;
        font-weight: 700;
        font-size: 36px;
        line-height:1.11;
        color: #FFFFFF;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px) {
    .hero {
     width: 768px;
     background-image: linear-gradient( rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/backround-hero.jpg);
     background-size: cover;
     background-repeat: no-repeat;
    }
    
    .hero-text {
        font-weight: 700;
        font-size: 56px;
        line-height:1.11;
        color: #FFFFFF;
        max-width: 494px;
        margin-left: auto;
        margin-right: auto;
        }
        .capitallize-hero {
            text-transform: lowercase;
            font-weight: 700;
            font-size: 56px;
            line-height:1.11;
            color: #FFFFFF;
            margin-left: auto;
            margin-right: auto;
        }
}

/*-------------Section 2------------*/

    



  