.hero {
    background-image: linear-gradient( rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/backround-hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 1440px;
    padding-top: 190px;
    padding-bottom: 190px;
    
    
    }
    
    .hero-text {    
    
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 56px;
    line-height:1.11;
    color: #FFFFFF;
    
    margin: 0 auto;
    margin-bottom: 48px;
    max-width: 500px;
    
    }
    
    .button-hero {
    
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
    color: #FFFFFF;
    letter-spacing: 0.04em;
    
    border-radius: 4px;
    margin: 0 auto;
    padding: 16px 32px;
    border: 1px solid #4D5AE5;
    
    transition-property: background-color, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    }

    @media  screen and (min-width: 320px)  {
        .hero {
            width: 428px;
        }
        
    }