*,
*::before,
*::after {
    box-sizing: border-box;
}
:root {
  --primary-font: 'Raleway', sans-serif;
  --text-hover-focus-color: #404BBF;
  --primary-text-color: #2E2F42;
  --secondari-text-color: #434455;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul {
    margin: 0;
}

/*-------COMPONENTS-------*/

.container {
    padding: 0 15px;
    margin-left: auto; 
    margin-right: auto;
    width: 1158px;
}

@media screen and (min-width: 320px) {
    .container {
        width: 428px;
    }
}

    @media screen and (min-width: 768px) {
        .container {
            width: 768px;
        }
    } 

         @media screen and (min-width: 1200px) {
            .container {
                width: 1158px;
            }

        }

.button-container, .header-container, .button-list, .images-list, .photos-list, .icon-item, .team-list-icons, .team-icon  {
    display: flex;
}

.hero-text, .button-hero {
    display: block;
}

.section, .photos {
    padding-top: 120px;
}

.portfolio-main {
    padding-top: 100px;
    padding-bottom: 120px;
}

.header, .image-border {
    border: 1px solid #E7E9FC;
    border-top-style: none;
}


img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

body {
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    color:var(--secondari-text-color)
}

/*--------HEADER---------*/

.header {
    margin: 0 auto;
    width: 428px;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}


.logo {
    font-family: var(--primary-font);
    color: var(--primary-text-color);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    text-decoration:none;
}
.site-logo {
    color: #4D5AE5;
}

.tel-link-mobile:hover,
.tel-link-mobile:focus,
.mail-link-mobile:hover,
.mail-link-mobile:focus,
.nav-link-mobile:hover,
.nav-link-mobile:focus,
.nav-link:hover,
.nav-link:focus,
.mail-link:hover,
.mail-link:focus,
.tel-link:hover,
.tel-link:focus {
 color: var(--text-hover-focus-color);
}

.header-container {
    align-items: center;
}


@media screen and (max-width: 428px) {

    .mobile-menu {
        position: fixed;
        top: 0%;
        width: 100%;
        height: 100%;
        background-color: #FFFFFF;
    }
    
    .container-mobile-header {
        padding-top: 80px;
        padding-bottom: 40px;
        padding-left: 40px;
    }
    
    .mobile-menu > .container-mobile-header {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
    }
    
    .nav-link-mobile {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: #2E2F42;
        text-decoration: none;
    
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .header-item-mobile:not(:last-child) {
     margin-bottom: 40px;
    }
    
    .address-mobile {
        margin-bottom: 48px;
    }
    
    .tel-link-mobile {
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 1.11;
        color: #2E2F42;
        text-decoration: none;
        margin-bottom: 40px;
    }
    
    .mail-link-mobile {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.11;
        color: #2E2F42;
        text-decoration: none;
    }
    
    .social-icon-header {
        margin-top: 48px;
        margin-left: 40px;
    }
    
    .icon-social-link-mobile {
        padding: 12px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
    
    .icon-social-list-mobile {
        display: flex;
        padding: 0;
    }
    
    .icons-social {
        height: 16px;
        width: 16px;
    }
    
    .icon-social-item-mobile {
        display: flex;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #4D5AE5;
    
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .icon-social-list-mobile .icon-social-item-mobile:not(:last-child) {
        margin-right: 56px;
    }
}

@media screen and (min-width: 429px)  {
    .mobile-menu {
        display: none;
    }
}

@media screen and (max-width: 767px) {

    .header-container {
        height: 70px;
    }

    .menu-open-header {
        margin-left: auto;
        display: flex;
        align-items: center;
        background-color: #FFFFFF;
        padding: 0;
        width: 32px;
        height: 24px;
        border: 2px solid #FFFFFF;
        stroke: #2E2F42;
        }

        .address, .nav-list {
            display: none;
        }

        .mail-link {
            margin-bottom: 4px;
        }
        .mail-link, .tel-link {
            flex-direction: column;
       }
}

@media screen and (min-width: 768px) {

    .header {
        width: 768px;
       }

.menu-open-header {
    display: none;
}
 
.nav {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    margin-left: 76px;
}

.nav-list .header-item:not(:last-child) {
    margin-right: 40px;
}

.nav-link {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
color: #2E2F42;
text-decoration: none;

transition-property: color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.logo, .nav-link, .mail-link, .tel-link {
    padding-top: 24px;
    padding-bottom: 22px;
}

.address {
    display: flex;
    margin-left: auto;
}

.adress-list {
    display: flex;
}

.current {
    position: relative;
}

 .current::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 2px;
    background-color: #404BBF;
    width: 100%;
    height: 4px;
    margin-top: 20px;
    
 }

.adress-list .adress-item:first-child {
 margin-right: 40px;
}

.mail-link,
.tel-link {
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 1.5;
text-decoration: none;
color: var(--secondari-text-color); 

transition-property: color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
}

@media screen and (max-width: 1199px) {
    
    .adress-list {
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (min-width: 1200px) {
    
    .header {
        width: 1440px;
       }

    .adress-list {
        display: flex;
    }

    .logo, .nav-link, .mail-link, .tel-link {
        padding-top: 24px;
        padding-bottom: 28px;
    }

    .current::after {
        margin-top: 24px;
     }

     .mail-link, .tel-link {
        font-size: 16px;
     }
}


/*-----Hero-----*/


.hero-text {
   font-weight: 700;
   font-size: 56px;
   line-height:1.11;
   color: #FFFFFF;
   max-width: 494px;
   margin-left: auto;
   margin-right: auto;
   }


   .hero {
    width: 428px;
    background-image: linear-gradient( rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg-image-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding-top: 112px;
    padding-bottom: 112px; 
   }

   @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient( rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg-mobile.jpg);
  }
}

        .hero-text {    
            margin-bottom: 50px;
            font-weight: 700;
            font-size: 56px;
            line-height:1.11;
            color: #FFFFFF;
            margin: 0 auto;
            margin-bottom: 48px;
            max-width: 500px;
            }

         .hero-text {
            font-size: 36px;
            line-height:1.11;
            color: #FFFFFF;
            max-width: 318px;
            }
        


            @media screen and (min-width: 768px) {
                .hero {
                    width: 768px;
                    background-image: linear-gradient( rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg-image-tablet.jpg);
                    background-size: cover;
                    background-repeat: no-repeat;
                    padding-bottom: 108px;
                     }

                     @media (min-device-pixel-ratio: 2), 
                     (min-resolution: 192dpi),
                     (min-resolution: 2dppx) {
                     .hero {
                        background-image: linear-gradient( rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg-tablet.jpg);
                     }
                    }

                    .capitallize-hero {
            
                        text-transform: capitalize;
                        font-size: 36px;
                        line-height:1.11;
                        color: #FFFFFF;
                        margin-left: auto;
                        margin-right: auto;
                     }

            }

          @media screen and (min-width: 1200px) {
               .hero {
                width: 1440px;
                background-image: linear-gradient( rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg-image-desktop.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                padding-top: 190px;
                padding-bottom: 190px;
               }

               @media (min-device-pixel-ratio: 2), 
                     (min-resolution: 192dpi),
                     (min-resolution: 2dppx) {
                     .hero {
                        background-image: linear-gradient( rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg-desktop.jpg);
                     }
                    }
          }


.button-hero {

background-color: #4D5AE5;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
cursor: pointer;
color: #FFFFFF;
letter-spacing: 0.04em;

border-radius: 4px;
margin: 0 auto;
padding: 16px 32px;
border: 1px solid #4D5AE5;

transition-property: background-color, border;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-hero:hover,
.button-hero:focus {
    border: 1px solid var(--text-hover-focus-color);
    background-color: var(--text-hover-focus-color);
}

/*-----Main-----*/

    .section {
        margin: 0 auto;
        width: 428px;
        padding-top: 96px;
     }

     .main-container-item {
        margin: 0 auto;
    }

     @media screen and (max-width: 1199px) {
        .section {
            padding-bottom: 96px;
        }
     }

    .main-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    }

    .main-text {
    font-weight: 500;
    letter-spacing: 0.02em;
    font-size: 16px;
    line-height: 1.5;
    color: var(--secondari-text-color);
    }

    .main-container-item {
        width: 396px;
    }

    .main-list {
        display: flex;
        flex-wrap: wrap;
        margin-top: -72px;
    }

     .main-item {
            margin-top: 72px;
        }

    @media  screen and (min-width: 768px) {
        .section {
            width: 768px;
        }
        .main-container-item {
            width: 736px;
        }
        .main-list {
            margin-left: -24px;
        }
        .main-item {
            flex-basis: calc((100% / 2) - 24px);
            margin-left: 24px;
        }
    }

    @media screen and (min-width: 1200px) {
        .section {
            width: 1440px;
            padding-top: 120px;
            margin: 0 auto;
        }
        .main-container-item {
            width: 1128px;
        }
        .main-item {
            flex-basis: calc((100% / 4) - 24px);
        }
        .main-title {
            margin-bottom: 10px;
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
            color: var(--primary-text-color)
            }
        .main-text {
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            color: var(--secondari-text-color);
            }
        }      

    @media screen and (max-width: 767px) {
        .title-main-div {
            display: flex;
            justify-content: center;
            margin-bottom: 8px;
        } 
    }
@media screen and (max-width: 1200px) {
    .icon-main {
        position: absolute;
        opacity: 0;
    }
}
            
        .icon-main {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 264px;
            height: 112px;
            border: 1px solid #F4F4FD;
            background-color: #F4F4FD;
            border-radius: 4px;
            margin-bottom: 8px;
            }

        
            .icon-main-item {
                height: 64px;
                width: 64px;
            }




/*------------Main-photos-list---------------*/

@media screen and (max-width: 1200px) {
    .photos {
        opacity: 0;
        position: absolute;
    }
}

.photos-container {
 padding-bottom: 120px;
}

.photos {
    padding-bottom: 120px;
}
.photos-list .photos-item:not(:last-child) {
 margin-right: 24px;
}

.photos-title {
  margin-bottom: 72px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: var(--primary-text-color)
}

/*-----Main-team-----*/

.icon-social-list {
    display: flex;
    padding: 0;
}

.icon-social-link {
    padding: 12px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.icon-social-item {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-social-team-mobile:hover,
.icon-social-team-mobile:focus,
.icon-social-item:hover,
.icon-social-link:focus {
    background-color: #404BBF;
}

.icon-social-list .icon-social-item:not(:last-child) {
    margin-right: 24px;
   }

.icons-social {
    height: 16px;
    width: 16px;
}

.main-team {
    width: 428px;
    margin: 0 auto;
    background-color: #F4F4FD;
    padding-top: 96px;
    padding-bottom: 128px;
}

.team-container-item {
    width: 264px;
    margin: 0 auto;
}

    .team-item {
        background-color: #FFFFFF;
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
        border-radius: 0px 0px 4px 4px;
        width: 100%;
    }

@media screen and (min-width: 767px) {
    
    .main-team {
        width: 768px;
    }
    .team-container-item {
        width: 552px;
    }
    .main-team {
        padding-bottom: 104px;
    }
    .team-list {
        display: flex;
        flex-wrap: wrap;
        margin-left: -24px;
        margin-top: -64px;
    }
    .team-item {
        flex-basis: calc(( 100% / 2 ) - 24px);
        margin-top: 64px;
        margin-left: 24px;
    }
}


@media screen and (min-width: 1200px) {
    .main-team {
        width: 1440px;
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .team-container-item {
        width: 1128px;
    }
    .team-item {
        flex-basis: calc((100% / 4 ) - 24px);
      } 
}

@media screen and (max-width: 767px) {
    .team-item:not(:last-child) {
       margin-bottom: 72px;
    }
}


.team {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    color: var(--primary-text-color)
    }

.team-title {
margin-bottom: 10px;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
color: var(--primary-text-color)
}
.team-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
padding-bottom: 8px;
color: var(--secondari-text-color);
}

.team-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 16px;
}

/*--------Customers--------*/

.customers {
    width: 428px;
    margin: 0 auto;
    padding-top: 96px;
    padding-bottom: 96px;
}

.customers-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: var(--primary-text-color);
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
}

.customers-container-item {
    width: 376px;
    margin: 0 auto;
}

.customers-list {
    display: flex;
    flex-wrap: wrap; 
    margin-top: -72px;
    margin-left: -16px;
}

.customer-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 32px;
    width: 168px;
    height: 88px;
    fill:#8e8f99;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    cursor: pointer;

    transition-property: fill, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    flex-basis: calc((100% / 2 ) - 16px);
    margin-top: 72px;
    margin-left: 16px;
}

@media screen and (min-width: 768px) {
    .customers {
        width: 768px;
    }
    .customers-container-item {
        width: 618px;
    }
    .customers-list {
        margin-left: -24px;
    }
    .customer-item {
        flex-basis: calc((100% / 3 ) - 24px);
        margin-left: 24px;
    }
}

@media screen and (min-width: 1200px) {
    .customers {
        width: 1440px;
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .customers-container-item {
        width: 1128px;
    }
    .customer-item {
        flex-basis: calc((100% / 6 ) - 24px);
    }
}

.customer-item:hover {
    fill: #404BBF;
    border: 1px solid #404BBF;
}

/*-----Footer-----*/


.footer {
    margin: 0 auto;
    width: 428px;
    padding-top: 96px;
    padding-bottom: 96px;
    background-color: var(--primary-text-color)
}

.logo-footer {
display: flex;
font-weight: 800;
font-size: 18px;
line-height: 1.33;
color: #F4F4FD;
text-decoration: none;
font-family: var(--primary-font);
}

.footer-text {
margin-left: auto;
margin-right: auto;
margin-top: 16px;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
color: #E7E9FC;
max-width: 268px;
}

/*---------------FOOTER SOCIAL----------------*/

.footer-social-list {
    display: flex;
    padding: 0;
}

.footer-social-item {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
   background-color: rgba(255, 255, 255, 0.1);

   transition-property: background-color;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 8px;
}

.footer-social-item:hover,
.footer-social-link:focus {
    background-color: #31D0AA;
}



.footer-social-item:not(:last-child) {
    margin-right: 16px;
}

.footer-social-title {
display: flex;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
color: #FFFFFF;
margin-bottom: 16px;
}

/*----------FOOTER-SUBSCRIBE----------*/


.title-subscribe {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    display: flex;
}

.footer-subscribe {
    background-color: var(--primary-text-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.3);
    height: 40px;
    margin-top: 16px;
    padding: 8px 16px;
    transition-property: color, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe:focus {
    color: #FFFFFF;
    border-color: #FFFFFF;
}

.button-subscribe-footer {
    display: flex; 
    align-items: center;
    width: 165px;
    height: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    border: 1px solid #4D5AE5;
    background-color: #4D5AE5;
    border-radius: 4px;
    margin-top: 40px;
    padding: 8px 24px;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-subscribe-footer:hover,
.button-subscribe-footer:focus {
    background: #404BBF;
}

.block-icon-subscribe {

    display: flex;
    margin-left: 16px;
    fill: #FFFFFF;
}

@media screen and (max-width: 767px) {
    .title-subscribe, .title-subscribe, .footer-social-list, .footer-social-title, .logo-footer { 
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    .footer-subscribe {
        width: 100%;
    }
    .footer-container {
        margin-bottom: 72px;
    }
    .footer-container-social {
        margin-bottom: 72px;
    }
    .button-subscribe-footer {
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px) {
    .footer {
        width: 768px;
        display: flex;
    }
    .container-footer {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        width: 552px;
    }
    .footer-text {
        max-width: 264px;
    }
    .subscribe {
        display: flex;
        justify-content: center;
    }
    .footer-subscribe {
    width: 264px;
    }
    .button-subscribe-footer {
        margin-left: 24px;
    }
}

@media screen and (min-width: 1200px) {
    .footer {
        margin: 0 auto;
        padding-top: 100px;
        padding-bottom: 100px;
        width: 1440px;
    }
    .container-footer {
        justify-content: space-between;
        width: 1085px;
    }
}



/*-------------------PORTFOLIO-------------------*/


.button-list {
    display: flex;
    justify-content: center;
    margin-bottom: 76px;
}

.button-list .button-item:not(:last-child) {
    margin-right: 24px;
}

.button-portfolio {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    font-family: inherit;
    background-color:  #F4F4FD;
    color: #4D5AE5;
    cursor: pointer;
    letter-spacing: 0.04em;
    padding: 12px 24px;
    border: 1px solid #E7E9FC;
    border-radius: 4px;

    transition-property: background-color, color, box-shadow, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}
.button-portfolio:hover,
.button-portfolio:focus {
    color: #FFFFFF;
    background-color: var(--text-hover-focus-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border: 1px solid var(--text-hover-focus-color)
}

/*-------Images portfolio--------*/

.portfolio-container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.images-item:hover .overflov .overflov-title,
.overflov-focus:focus .overflov .overflov-title, .images-item {
 transform: translateY(0%);
}

.overflov-focus {
   text-decoration: none;
   transition-property: transform;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.overflov {
  position: relative;
   overflow: hidden;

   transition-property: transform;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.overflov-title {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #404BBF;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  
   transition-property: transform;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.text-overflov {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #F4F4FD;
    width: 294px;
    margin-left: 32px;
    margin-top: 40px;
}


.images-list {
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    margin-left: -24px;
    margin-top: -48px;
}


 .images-list > .images-item {
    flex-basis: calc(100% /3 - 24px );
    margin-left: 24px;
    margin-top: 48px;
}  

.images-item {
    cursor: pointer;

   transition-property: box-shadow;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.images-item:hover,
.images-item:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.image-border {
    padding: 32px 16px;
}

.images-title {
margin-bottom: 8px;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
color: var(--primary-text-color);
}

.images-text {
font-weight: 400;
font-size: 16px;
line-height: 1.2;
color: var(--secondari-text-color);
} 



/*--------FORM--------*/


.backdrop {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    .modal-btn {
        position: absolute;
        top: 96px;
        left: 18px;
        width: 392px;
        height: 586px;
        background-color: #FCFCFC;
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .is-hidden {
        opacity: 0;
        pointer-events: none;
    }
    
    .button-hero-close {
        position: absolute;
        display: flex;
        width: 24px;
        height: 24px;
        margin-left: 360px;
        margin-top: 24px;
        background-color: #FCFCFC;
        border: 1px solid #E7E9FC;
        border-radius: 50%;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        transition-property: background-color, border, fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    
    .button-hero-close:hover {
        fill: #FFFFFF;
        border: 1px solid #404BBF;
         background-color: #404BBF;
    }


.form {
    margin-top: 72px;
    margin-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
}

.form-text {
    display: flex;
    justify-content: center;
}

.text-form {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
color: #2E2F42;
margin-bottom: 14px;
letter-spacing: 0.02em;
}



.form-pitch input {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 38px;
    padding-right: 16px;
    height: 40px;

}

.form-pitch:focus {
    border-color: #4D5AE5;
}

.form-pitch {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;

    transition-property: fill, border-color;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-pitch:focus-within .icon-form,
.form-pitch:focus-within .icon-form-big {
    fill: #4D5AE5;
}

.icon-form {
    position: absolute;
    top: 50%;
    left: 19px;
}

.icon-form-big {
    position: absolute;
    top: 45%;
    left: 19px;
}

label[for="tel"],
label[for="name"],
label[for="mail"],
label[for="coment"] {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    color: #8E8F99;
    letter-spacing: 0.01em;
    margin-bottom: 4px;
}


textarea {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 120px;
    font-size: 12px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    padding: 8px 16px;
}


.checkbox-pitch {
    display: flex;
    align-items: center;
    margin-top: 16px;
}


.checkbox {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   clip: rect(0 0 0 0);
   overflow: hidden;
}

.border-checkbox {
    width: 16px;
    height: 16px;
    border: 1.25px solid #2E2F42;
    border-radius: 2px;
    margin-right: 8px;
}

.checkbox:checked + .border-checkbox {
    border-color: #404BBF;
    background-image: url(../images/checkbox-icon.svg);
    background-size: contain;
    background-origin: border-box;
}

.form-privacy {
    color: #4D5AE5;
}
 
.text-checkbox{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.04em;
    color: #757575;
}

.button-form-send {
    display: flex;
    justify-content: center;
    margin-top: 24px;
    margin-bottom: 24px;
}

.button-form {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #FFFFFF;
    background-color: #4D5AE5;

    width: 169px;
    height: 56px;
    border: 1px solid #4D5AE5;
    border-radius: 4px;
    padding: 16px 32px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);

   transition-property: backround-color, box-shadow;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.button-form:hover,
.button-form:focus {
background-color: #404BBF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}


@media screen and (min-width: 767px) {
    .modal-btn {
        left: 50%;
        transform: translate(-50%);
        width: 408px;
        height: 586px;
        }
        
}

@media screen and (min-width: 1200px) {
    .modal-btn {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 408px;
        height: 584px;
        }
        
}

